%p
  You are logged in as: #{@user.login} 
  %a{:href => "/logout"} (logout)
  - if flash[:success]
    .success #{flash[:success]}
  - if flash[:notice]
    .notice #{flash[:notice]}
  - if flash[:error]
    .error #{flash[:error]}